*{
    background-color: pink;
   
   text-align: center;
   font-family: 'Montserrat', sans-serif;
}

.

.palabra-verde{
    color:red;
}

.uribe{
    max-width: 250px;
}

.botonuwu{
    background-color: greenyellow;
    cursor: pointer;
}